.footer-custom{
    background-color: #1b1e21;

}
.foote-font{
    color: #ffffff;
}

.header{
    background-color: #abdde5;
}

.font-max{
    font-family: Arial, Helvetica, sans-serif !important;
    /*font-weight:bold !important;
    color: black !important;
    font-size: 2em;*/
    font-size: 2.7em;
    color: white !important;
  font-weight: 400;
  line-height: 1;
  text-shadow:
    0.045em 0 #264aca,
        0 0.045em #264aca,
        -0.045em 0 #264aca,
        0 -0.045em #264aca,
        -0.045em -0.045em #264aca,
        -0.045em 0.045em #264aca,
        0.045em -0.045em #264aca,
        0.045em 0.045em #264aca;
}

.font-min{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 1.2em;
  font-weight: 400;
  line-height: 1;
    text-align: justify;
    text-justify: inter-word;

}

.team-title{
    color: dimgrey;
    font-family: "Lucida Calligraphy";
}

.team-desc{
    color: dimgrey !important;
}

a{
    color: blue;
}

.subtitle{
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif !important;
}