{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <!--********************** ISTITUTIONAL REPORT ******************** -->
        <div class="col card text-center" style="margin-right: 2%; margin-left: 2%">
            <h5 class="card-header" style="color: red">INSTITUTIONAL REPORT</h5>
            <h6 style="color: red">For external target</h6>
            <div class="card-body">
                {% for file in filelist %}

                    {% if 'institutional/' in file %}
                        <object type="application/pdf" data="{{ file }}"><a href="{{ file }}">{{ file }}</a></object>
                    {% endif %}

                {% endfor %}
                <a class='btn btn-sm btn-warning btn-block' href="{{ url_for('upload_report',type='institutional') }}">Upload a report</a>
            </div>
        </div>

        <!--********************** OPERATIONAL REPORT ******************** -->
        <div class="col card text-center" style="margin-right: 2%; margin-left: 2%">
            <h5 class="card-header" style="color: red">OPERATIONAL REPORT</h5>
            <h6 style="color: red">Day-to-day deliverables</h6>
            <div class="card-body">
                {% for file in filelist %}

                    {% if 'operational/' in file %}
                        <object type="application/pdf" data="{{ file }}"><a href="{{ file }}">{{ file }}</a></object>
                    {% endif %}

                {% endfor %}
                <a class='btn btn-sm btn-warning btn-block' href="{{ url_for('upload_report',type='operational') }}">Upload a report</a>
            </div>
        </div>

        <!--********************** MANAGEMENT REPORT ******************** -->
        <div class="col card text-center" style="margin-right: 2%; margin-left: 2%">
            <h5 class="card-header" style="color: red">MANAGEMENT REPORT</h5>
            <h6 style="color: red">About the trend of the management </h6>
            <div class="card-body">
                {% for file in filelist %}

                    {% if 'management/' in file %}
                        <object type="application/pdf" data="{{ file }}"><a href="{{ file }}">{{ file }}</a></object>
                    {% endif %}

                {% endfor %}
                <a class='btn btn-sm btn-warning btn-block' href="{{ url_for('upload_report',type='management') }}">Upload a report</a>
            </div>
        </div>
    </div>
{% endblock content %}