{% extends "layout.html" %}

{% block content %}

<style>
body{
    background-image: url("/static/img/sfondo_rosso.png")!important;
}
</style>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active"> <img src="/static/img/traffic_night_01.jpg">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-3">FastLane</h3>
            <p class="lead-cyb">Connect your business</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item"> <img src="/static/img/teamwork.jpg" >
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Internal Cohesion</h3>
          <p class="lead">Organization. Effective Communication. Now it's everything in one place.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item"> <img src="/static/img/happy_customer.jpg" >
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Never leave the customer alone</h3>
          <p class="lead">To deeply understand the customer's needs.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

  <div class="container mt-5">
  <div class="row">
    <div class="col d-flex justify-content-center">
        <img src="/static/img/communication.png" class="img-fluid"> <div class="lead" style="margin-top: 6%; font-style: italic">To reach your organizational goals.</div>
        </div>
    </div>
  </div>
    <div class="container mt-5">
  <div class="row">
    <div class="col d-flex justify-content-center">
          <img src="/static/img/order_monitoring.png" class="img-fluid"> <div class="lead" style="margin-top: 6%; font-style: italic">To improve customer's experience.</div>
        </div>
    </div>
  </div>


<div style="padding-left: 30px; padding-right: 30px; padding-top: 30px;">

    <!--Feedback received-->
    <hr>
    <h5 style="padding-bottom: 3%;"><span class="glyphicon glyphicon-user col d-flex justify-content-center">What people say about us</span></h5>
  <div class="container" style="padding-top: 15px;">

	<div class="row text-center">
					<div class="col-sm-6 col-md-4">
						<div class="testimonial-box">
							<img src="/static/img/1004px-Google__G__Logo.svg.png" class="img-responsive" alt="" width="90">
							<div class="ratings-icons">
								<span style="color:yellow">&#9733;</span>
								<span style="color:yellow">&#9733;</span>
								<span style="color:yellow">&#9733;</span>
								<span style="color:yellow">&#9733;</span>
								<span style="color:yellow">&#9733;</span>
							</div>
							<h4 style="padding-top: 10px;">Google</h4>
							<p style="color: white; font-style: oblique;">Excellent platform!</p>

						</div>
					</div> <!-- End Col -->

					<div class="col-sm-6 col-md-4">
						<div class="testimonial-box">
							<img src="/static/img/yahoo-e1518782903626.png" class="img-responsive" alt="" width="90">
							<div class="ratings-icons">
								<span style="color:yellow">&#9733;</span>
								<span style="color:yellow">&#9733;</span>
								<span style="color:yellow">&#9733;</span>
								<span style="color:yellow">&#9733;</span>
								<span>&#9733;</span>
							</div>
							<h4 style="padding-top: 10px;">Yahoo!</h4>
							<p style="color: white; font-style: oblique;">We love it.</p>

						</div>
					</div> <!-- End Col -->

					<div class="col-sm-6 col-md-4">
						<div class="testimonial-box">
							<img src="/static/img/billgates.png" class="img-responsive" alt="" width="90">
							<div class="ratings-icons">
								<span style="color:yellow">&#9733;</span>
								<span style="color:yellow">&#9733;</span>
								<span style="color:yellow">&#9733;</span>
								<span style="color:yellow">&#9733;</span>
								<span style="color:yellow">&#9733;</span>
							</div>
							<h4 style="padding-top: 10px;">Bill Gates</h4>
							<p style="color: white; font-style: oblique;">I wish it was my idea</p>

						</div>
					</div> <!-- End Col -->


				</div>
</div>

</div>
    <!--Leave a review-->
      <div class="container mt-5">
  <div class="row">

    <div class="container" style="align-content: center !important;">

            <div class="text-center">
             <a class="nav-item nav-link" href="/feedback">Give us your feedback!</a>

	        </div>
    </div>
  </div>
</div>

{% endblock content %}