<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageName }}</title>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="alert alert-warning">
    {% for category, message in messages %}
        <strong>{{ category }}</strong> {{ message }}
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}


{#<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>#}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

     <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/order_steps.css">
    <link rel="stylesheet" href="../static/css/chat.css">

    <script src="../static/js/bootstrap.js"></script>
</head>
<body style="padding-top:-20px">
<div class="container">


            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="home"><img src="/static/img/logo.png" width="50" height="50"></a>
{#              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">#}
{#                <span class="navbar-toggler-icon"></span>#}
{#              </button>#}
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-item nav-link" href="/home">Home</a>

                <!-- I did the log in as a company, but I still have to log in/register as a user of the company -->

                {% if session.get('email') and session['type'] == 'COMPANY' and not session.get('username_user') %}
                    <a class="nav-item nav-link" href="/login_company_employee">Login - {{ session['id_user'] }} member</a>
                    <a class="nav-item nav-link" href="/register_company_employee">Sign up - {{ session['id_user'] }} member</a>
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                {% elif session.get('email') and session['type'] == 'COMPANY' and session.get('username_user') %}


                <!-- I signed in as a member of the company -->

                    <a class="nav-item nav-link" href="/order">Profile</a>
                    <div class="dropdown">
                    <a class="nav-item nav-link"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Logout
                          </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/logout">Company logout</a>
                        <a class="dropdown-item" href="/company_member_logout">Member logout</a>
                    </div>
                    </div>
                {% elif session.get('email') and session['type'] == 'PRIVATE' %}


                <!-- I log in as a private -->

                    <a class="nav-item nav-link" href="/order">Profile</a>
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                {% else %}

                <!-- did not do the log in or registration -->

                          <a class="nav-item nav-link" href="/login">Login</a>
                    <div class="dropdown">
                          <a class="nav-item nav-link"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Registration
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/register_company">Sign up as company</a>
                            <a class="dropdown-item" href="/register_private">Sign up as private</a>
                              {% if session['type'] == 'COMPANY' %}
                            <a class="dropdown-item" href="/register_company_employee">Sign up as a {{ session['id_user'] }} member</a>
                              {% endif %}
                          </div>
                    </div>

                    {% endif %}
{#                  <a class="nav-item nav-link disabled" href="#">Disabled</a>#}
                </div>
              </div>
            </nav>


    <br>
    <br>
    <br>

    {% block content %}
    {% endblock content %}


<div class="container">
    <hr>
        <div class="text-center center-block">
            <p class="txt-railway"><h6>FastLane - Contact us</h6></p>

                <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://twitter.com/login?lang=it"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
</div>
    <hr>
</div>

</div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>