{% extends "layout.html" %}

{% block content %}
    <div class="row">
    <div class="col"></div>
    <div class="col">
        <p><h1>Please provide your username and password to log-in.</h1></p>
        <form action="" method="post">
          <div class="form-group">
              {{ formLog.email.label }}
              {{ formLog.email(class='form-control',placeholder='please write your email') }}
              {% for error in formLog.email.errors %}
                    <div class="alert alert-danger" role="alert">
                      {{ error }}
                    </div>
                {% endfor %}
          </div>
          <div class="form-group">
            {{ formLog.password.label }}
              {{ formLog.password(class='form-control',placeholder='please provide your password') }}
                {% for error in formLog.password.errors %}
                    <div class="alert alert-danger" role="alert">
                      {{ error }}
                    </div>
                {% endfor %}
          </div>
            {{ formLog.submit(class='btn btn-lg btn-warning btn-block') }}
            {{ formLog.hidden_tag() }}
        </form>
    </div>
      <div class="col"></div>

    </div>
{% endblock content %}