{% extends "layout.html" %}

{% block content %}

    <div class="row">
    <div class="col"></div>
    <div class="col">
        <p><h2>Choose one of these options - order n. {{ session.get('order_no') }} and {{ order_no }}</h2></p>
        <p><a class="btn btn-secondary btn-warning btn-block'" href="/talk_with_the_customer" onclick="funct()">Talk with the customer</a>
        <a class="btn btn-secondary btn-warning btn-block'" href="#">Talk with other departments</a></p>
    </div>
      <div class="col"></div>

    </div>
{% endblock content %}