{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-3" style="padding-left: 4%; border-right: 1px inset #333; padding-bottom: 3%">

            {% if session.get('email') and session['type'] == 'COMPANY' and session.get('username_user') %}
                <h4 style=" padding-bottom: 3%">Welcome {{ session['name_employee'] }}</h4>
            {% elif session.get('email') and session['type'] == 'PRIVATE' %}
                <h4 style=" padding-bottom: 3%">Welcome {{ session['id_user'] }}</h4>
            {% endif %}

                <!-- ***************** PROFILE PIC *************** -->


                        <img src="/static/img/billgates.png" class="img-circle">
                        <h6 style="padding-top: 3%;"> Role: {{ session['role_employee'] }} - {{ session['department_employee'] }}</h6>
                         <a href="/upload" style="color: gold">Upload your profile picture</a>

    </div>

  <div class="col-sm-9" style="padding-right: 4%; padding-left: 3%">


        <!-- *********************** ORDERS TABLE ************************* -->

        <h3 style="padding-bottom: 3%">{{ session.get('id_user') }} - Your current orders</h3>
    <form action="" method="post">
        <div class="table-sm">
        <table class="table table-borderless  text-center">
              <thead class="text-light" style="background-color: black">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Description</th>
                  <th scope="col">User</th>
                  <th scope="col">Customer</th>
                  <th scope="col">Delivery date</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
            <tbody>

            {% for order in orders %}
                <tr><th style="background-color:white; color: black;">{{ order.order_id }}</th>
                <td style="background-color:white; color: black;">{{ order.order_description }}</td>
                <td style="background-color:white; color: black;">{{ order.user }}</td>
                <td style="background-color:white; color: black;">{% if order.order_private_customer %}
                        {{ order.order_private_customer }}
                    {% elif order.order_company_customer %}
                        {{ order.order_company_customer }}
                    {% endif %}
                </td>
                <td style="background-color:white; color: black;">{{ order.order_delivery_date }}</td>
                <td style="background-color:white; color: black;">{{ order.order_state }}</td>
                    <td style="background-color:transparent; color: white;"><a class="btn btn-sm btn-warning btn-block"  href="order_management_menu/{{ order.order_id }}">Manage it</a></td>
                <td style="background-color:transparent; color: white;">{{ formNextStep.submit(class='btn btn-sm btn-warning btn-block') }}</td></tr>
            {% endfor %}

            </tbody>
        </table>
        </div>
    </form>

        <!-- *********************** CREATE NEW  ORDER BUTTON ************************* -->

                <div style="margin: 0px 2px 0px 2px;"></div> <!-- doesnt work -->
                {% if session['type'] == 'COMPANY' %}
                    <a class="btn btn-lg btn-warning btn-block' pull-right" href="/order_creation">Create new order</a>
                {% endif %}

</div>
</div>

{% endblock %}
