{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-8" style="padding-right: 7%; padding-left: 7%">
        <p><h2>You are a member of {{ session['id_user'] }}. Sign up to  discover all our functionalities.</h2></p>
        <form action="" method="post" id="registration">
          <div class="form-group">
            {{ form_employee.name.label }}
              {{ form_employee.name(class='form-control',placeholder='Please enter your name') }}
              {% for error in form_employee.name.errors %}
                    <div class="alert alert-danger" role="alert">
                      {{ error }}
                    </div>
                {% endfor %}
          </div>
        <div class="form-group">
            {{ form_employee.surname.label }}
              {{ form_employee.surname(class='form-control',placeholder='Please enter your surname') }}
              {% for error in form_employee.surname.errors %}
                    <div class="alert alert-danger" role="alert">
                      {{ error }}
                    </div>
                {% endfor %}
          </div>

        <div class="form-group">
            {{ form_employee.username.label }}
              {{ form_employee.username(class='form-control',placeholder='Please enter your email') }}
                {% for error in form_employee.username.errors %}
                    <div class="alert alert-danger" role="alert">
                      {{ error }}
                    </div>
                {% endfor %}
          </div>
          <div class="form-group">
            {{ form_employee.password.label }}
              {{ form_employee.password(class='form-control',placeholder='Please enter your password') }}
                {% for error in form_employee.password.errors %}
                    <div class="alert alert-danger" role="alert">
                      {{ error }}
                    </div>
                {% endfor %}
          </div>
           <div class="form-group">
            {{ form_employee.confirm_password.label }}
              {{ form_employee.confirm_password(class='form-control',placeholder='Please enter again your password') }}
                {% for error in form_employee.confirm_password.errors %}
                    <div class="alert alert-danger" role="alert">
                      {{ error }}
                    </div>
                {% endfor %}
          </div>
        <div class="form-group">
            {{ form_employee.role.label }}
              {{ form_employee.role(class='form-control') }}
        </div>
        <div class="form-group">
            {{ form_employee.department.label }}
              {{ form_employee.department(class='form-control') }}
        </div>

            {{ form_employee.submit(class='btn btn-lg btn-warning btn-block') }}
            {{ form_employee.hidden_tag() }}
        </form>
        </div>

    <!--**********************************************   LOGIN   **********************************************-->

         <div class="col-sm-4" style="padding-right: 7%; padding-left: 3%">
        <p><h3>Already signed-up?</h3></p>
        <form action="" method="post" id="login">
          <div class="form-group">
              {{ form_login_employee.username.label }}
              {{ form_login_employee.username(class='form-control',placeholder='please write your email') }}
              {% for error in form_login_employee.username.errors %}
                    <div class="alert alert-danger" role="alert">
                      {{ error }}
                    </div>
                {% endfor %}
          </div>
          <div class="form-group">
            {{ form_login_employee.password.label }}
              {{ form_login_employee.password(class='form-control',placeholder='please provide your password') }}
                {% for error in form_login_employee.password.errors %}
                    <div class="alert alert-danger" role="alert">
                      {{ error }}
                    </div>
                {% endfor %}
          </div>
            {{ form_login_employee.submit(class='btn btn-lg btn-warning btn-block') }}
            {{ form_login_employee.hidden_tag() }}
        </form>

            </div>
         </div>
    </div>
{% endblock content %}