{% extends "layout.html" %}

{% block content %}
<div style="padding-top: 3%">

<div>
    <!-- ****************** ORDER DETAILS ****************** -->
    <div class="row" style="margin-left: 3%; margin-right: 3%; text-align: center">
            <h2 style="padding-bottom: 2%;">Order details</h2>

            <table class="table table-sm table-bordered" style="background-color: floralwhite; border: #16181b;">
                  <thead style="background-color: #ffc107; color: black; font-size: 0.9em;">
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Description</th>
                      <th scope="col">User</th>
                      <th scope="col">Customer</th>
                      <th scope="col">Delivery date</th>
                      <th scope="col">Delivery time</th>
                      <th scope="col">Delivery type</th>
                      <th scope="col">Delivery company</th>
                      <th scope="col">Date of request</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                <tbody style="font-size: 0.95em">

                    <tr><th>{{ order.order_id }}</th>
                    <td>{{ order.order_description }}</td>
                    <td>{{ order.user }}</td>
                    <td>{% if order.order_private_customer %}
                            {{ order.order_private_customer }}
                        {% elif order.order_company_customer %}
                            {{ order.order_company_customer }}
                        {% endif %}</td>
                    <td>{{ order.order_delivery_date }}</td>
                    <td>{{ order.order_delivery_time }}</td>
                    <td>{{ order.order_delivery_type }}</td>
                    <td>{{ order.order_delivery_company }}</td>
                    <td>{{ order.date_request }}</td>
                    <td>{{ order.order_state }}</td></tr>

                </tbody>
            </table>

    </div>

    <!-- ****************** ORDER STATUS ****************** -->
        <div class="row" style="margin-left: 3%; padding-top: 7%; margin-right: 3%; padding-bottom: 4%">
        <div class="col-12">
        <div class="order-status">
                {% if order.order_state == 'TO BE STARTED' %}
                <div class="order-status-timeline0">
                {% elif order.order_state == 'Design' %}
                <div class="order-status-timeline1" style="background-color: whitesmoke">
                {% elif order.order_state == 'Production' %}
                <div class="order-status-timeline2" style="background-color: whitesmoke">
                {% elif order.order_state == 'Prototype' %}
                <div class="order-status-timeline3" style="background-color: whitesmoke">
                {% elif order.order_state == 'FINISHED' %}
                <div class="order-status-timeline4">
                {% endif %}
                    <!-- class names: c0 c1 c2 c3 and c4 -->
                    <div class="order-status-timeline-completion c3"></div>
                </div>

                <div class="image-order-status image-order-status-new active img-circle">
                    <span class="status">To be started</span>
                    <div class="icon"><img class="icon" src="/static/img/Hourglass-512.png"></div>
                </div>

                {% if order.order_state == 'FINISHED' or order.order_state == 'Prototype' or order.order_state == 'Production' or order.order_state == 'Design'%}
                <div class="image-order-status image-order-status-active active img-circle" style="background-color: #5e81ff">
                    <span class="status">Design</span>
                    <div class="icon"><img class="icon" src="/static/img/design_icon.png"></div>
                </div>
                {% else %}
                <div class="image-order-status image-order-status-active active img-circle">
                    <span class="status">Design</span>
                    <div class="icon"><img class="icon" src="/static/img/design_icon.png"></div>
                </div>
                {% endif %}

                {% if order.order_state == 'FINISHED' or order.order_state == 'Prototype' or order.order_state == 'Production' %}
                <div class="image-order-status image-order-status-intransit active img-circle" style="background-color: #5e81ff">
                    <span class="status">Production</span>
                    <div class="icon"><img class="icon" src="/static/img/production_icon.png"></div>
                </div>
                {% else %}
                <div class="image-order-status image-order-status-intransit active img-circle">
                    <span class="status">Production</span>
                    <div class="icon"><img class="icon" src="/static/img/production_icon.png"></div>
                </div>
                {% endif %}

                {% if order.order_state == 'FINISHED' or order.order_state == 'Prototype' %}
                <div class="image-order-status image-order-status-delivered active img-circle" style="background-color: #5e81ff">
                    <span class="status">Prototype</span>
                    <div class="icon"><img class="icon" src="/static/img/testing_icon.png"></div>
                </div>
                {% else %}
                <div class="image-order-status image-order-status-delivered active img-circle">
                    <span class="status">Prototype</span>
                    <div class="icon"><img class="icon" src="/static/img/testing_icon.png"></div>
                </div>
                {% endif %}

                {% if order.order_state == 'FINISHED' %}
                    <div class="image-order-status image-order-status-completed active img-circle" style="background-color: #5e81ff">
                    <span class="status">Finished</span>
                    <div class="icon"><img class="icon" src="/static/img/completed.png"></div>
                </div>
                {% else %}
                <div class="image-order-status image-order-status-completed active img-circle">
                    <span class="status">Completed</span>
                    <div class="icon"><img class="icon" src="/static/img/completed.png"></div>
                </div>
                {% endif %}

            </div>
        </div>
        </div>

    </div>

    <div class="row" style="padding-left: 2%; padding-top: 5%">

        <!-- ****************** CHAT WITH DEPARTMENTS ****************** -->
        <div class="col-md-6" style="width:50%; height:100%; float:left;">
            <h2>Chat with other departments</h2>

                <div class="scrollbar" id="style-4">
                    {% for message in messages %}
                        {% if message.sender == session.get('username_user')+' - '+message.department|string %}
                            <div class="sender">
                            <span class="time">{{ message.datetime }}</span>
                            <p class="sender_name">{{ message.company_user }}</p>
                             {{ message.message }}
                            </div>
                        {% else %}
                            <div class="receiver">
                            <span class="time">{{ message.datetime }}</span>
                            <p class="sender_name">{{ message.company_user }}</p>
                             {{ message.message }}
                            </div>
                        {% endif %}

                    {% endfor %}
                </div>
            <div style="margin-left:2%; margin-right: 3%">
             <form action="" method="post">
                {{ formChat.message(class='form-control', placeholder='Write here your message...') }}
                 <div style="padding-top:1% !important;">{{ formChat.submit(class='btn btn-lg btn-warning btn-block') }}</div>
             </form>
            </div>
        </div>
        <!-- ****************** DOCUMENT SHARED ****************** -->
          <div class="col-md-5">
        {#<p>Click <a href="/upload_file_customer">here</a> to upload a file</p>#}
        <h2 style="padding-bottom: 4.5%"> Upload a file</h2>
              <div class="col card text-center" style="margin-right: 2%; padding-right: 4%">
            <h5 class="card-header">FILE UPLOADED</h5>
            <div class="card-body">
                {% for file in file_url %}
                        <p><object type="application/pdf" data="{{ file }}"><a href="/static/uploaded_file_department/{{ session['order_no'] }}/{{ file }}">{{ file }}</a></object></p>
                {% endfor %}
                <a class='btn btn-warning btn-block' href="{{ url_for('upload_file_departments') }}">Upload a report</a>
            </div>
        </div>


          </div>
        </div>
        </div>
        </div>
    </div>
</div>


{% endblock content %}