{% extends "layout.html" %}
{% block content %}
    <div class="row">
    <div class="col"></div>
    <div class="col">
    <form method="post" enctype="multipart/form-data" action="">
        {{ formupload.hidden_tag() }}
        <h6>{{ formupload.file.label }}</h6>
        {{ formupload.file(class="btn btn-lg btn-warning btn-block'") }}
        {{ formupload.upload(class="btn btn-lg btn-warning btn-block'") }}
    </form>
    {% for file in filelist %}
        <img src='{{ url_for("static",filename=file) }}' height="300px" width="300px">
    {% endfor %}
    </div>
    <div class="col"></div>
    </div>
{% endblock content %}