{% extends "layout.html" %}

{% block content %}
<div class="text-center">
    <h5>Upload your file</h5>

    <form action='/upload_file_departments' method="POST" enctype="multipart/form-data">
            <label class="btn btn-sm btn-warning btn-block'" style="margin-top: 0.5rem">
                Choose file<input type='file' name='file[]' multiple='true' style="display: none;">
            </label>
            <input type='submit' value='Upload' class="btn btn-sm btn-warning btn-block'">
    </form>
</div>
{% endblock content %}